body{
    margin: 0px;
}
.topped
{
    width: 100%;
    height: 100%;
    display: flex;
    font: optional;
    font-style:initial;
    font-size: xx-small;
    justify-content:center;
    background-color: #006dd0;
    color: #f5faff;
    height: 27px;
}
.top-text{
    margin-top: 6px;
    font-size: 12px;
    top: 50%;
    bottom: 50%;
    justify-content: center;   
}
.nav
{
    display: flex;
    position: relative;
    left: 100px;
    height: 130px;
    top: 30px;
   
}
.nav .c_crazy_image
{
    size: 300px;
}
.nav .div-one a
{
    text-decoration: none;
    margin: 10px;
    
}
.links
{
    position: absolute;
    left: 500px;
    top: 35px;
}
.nav a{
    
    left: 700px;
}

































.parent{
      display: flex;
      justify-content: center;
      margin: 0px;
    
}
.right{
    background-color: rgb(255, 255, 255);
    width:25%;
    height:700px;
    display: inline-block; 
    display: absolute;
    justify-content: center;
}
.middle
{
    background-color: bisque;
    width:50%;
    height:700px;
    display: inline-block;
}
.left
{
    background-color: aqua;
    width:25%;
    height:700px;
    display: inline-block;
                
    
}
.footer
{
    background-color: black;
    height: 50px;
}
.right .r-in
{
    display: flex;
    position: absolute;
    opacity: 1;
    flex-direction: column;
    top: 300px;
    left: 8%;
}










































@media (max-width: 600px) {
     {
      width: 100%;
      height: auto;
    }